@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding:25px 30px;
    border-radius:5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    bottom:0;
    left:0;
    background:#9b59b6;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    width:calc(100%/2-20px);
    margin-bottom: 15px;
}
.user-details .input-box .details{
   margin-bottom:5px;
   font-weight: 500;
}
form .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    border:1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px;
    transition:all 0.3s ease;
}
.container .flex{
    display: flex;
}
.user-details .input-box input:focus
.user-details .input-box input:valid{
    border-color:#9b59b9;

}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
    padding-left:20px;
    
}
form .gender-details .category-one{
    display: flex;
}
form .gender-details .category-one .category{
    padding:20px;
}
form .button{
    height:45px;
    margin:45px 0;
    
}
form .button input{
    height:100% ;
    width: 100%;
    outline:none;
    color:#fff;
    background: linear-gradient(135deg, #71b7e6,#9b59b6) ;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;

}
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6,#9b59b6) ;
}
@media(max-width:584px)
{
.container{
    max-width:100%;

}
.container.user-details{
    padding-top:50px;
    padding-bottom:50px;
}
.container .title{
    padding-top:80px;
}
form .user-details .input-box{
    margin-bottom:15px;
    width: 100%;
}
form .user-details .category{
    width: 100%;
}
.container form .user-details{
    max-height:400px;
    overflow-y: scroll;
}
}